<template>
<div>
  <div v-if="user && user.user_service_rooms && user.user_service_rooms.length ">
    <h1>Ваши комнаты</h1>
    <div v-for="usr of user.user_service_rooms">
      <strong></strong>
      <router-link class="app-navlist__link" :to="{name: 'orders',params:{roomId: usr.service_room.id}}">{{usr.service_room.id}}</router-link>

    </div>
  </div>
</div>
</template>

<script>

  import {mapGetters, mapActions} from 'vuex'
  export default {
    name: 'myRooms',
    data () {
      return {
      }
    },
    computed: {
      ...mapGetters([
        'user'
      ])
    },
    methods: {
      ...mapActions([
        'getUser'
      ])
    },
    mounted () {
      this.getUser()
    }
  }
</script>

<style scoped>

</style>
