<template>
  <div>
    <top-menu />
    <main class="app-main">
      <navigation-menu :roomId="15" />
      <div class="app-content">
        <transition>
          appear
          appear-active-class="animated bounceIn"
          enter-active-class="animated bounceInRight">
          <router-view />
        </transition>
      </div>
    </main>
  </div>
</template>

<script>
  import NavigationMenu from '@/components/common/NavigationMenu'
  import TopMenu from '@/components/common/TopMenu'

  export default {
    name: 'app',
    components: {
      NavigationMenu,
      TopMenu
    },
    computed: {
      roomId () {
        return this.$router.params.roomId
      }
    },
    created () {
      console.log('roomId', this.$router.params.roomId)
    }
  }
</script>
