<template>
  <div class="groups">
    <!-- .entity-heading -->
    <div class="entity-heading">
      <entity-popup-btn @add="openAddPopup"/>
      <h2 class="entity-group-title">Groups / {{groups.length}}</h2>
    </div>
    <!-- END:.entity-heading -->
    <div class="entity-body myRow" :class="{active: groupId}">
      <ul class="entity-list">
        <group-list-item v-for="(group, index) of groups"
                         :group-info="group"
                         :key="group.id"
                         @selected="select"
                         @click.native="currentGroup = group"
                         @delete="isDeletePopup = isPopupOpened = true; currentGroup = $event"
                         :class="{active: group.id == groupId}"/>
      </ul>
      <group-info :group="group" :groupId="groupId" v-if="groupId" @close="unselect" />

      <popup v-if="isPopupOpened && isDeletePopup" class="popup" @clickOutside="closeAllPopup">
        <ConfirmPopup v-if="isDeletePopup" @confirm="destroyGroup(currentGroup)" @close="closeAllPopup" >
          <template v-slot:action>Удалить данную группу?</template>
          <template v-slot:title>{{currentGroup.title}}</template>
        </ConfirmPopup>
      </popup>
    </div>
    <popup v-if="isPopupOpened && !isDeletePopup" class="popup" @clickOutside="closeAllPopup">
      <add-group-popup v-if="isAddPopup" @close="closeAllPopup" />
    </popup>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import GroupListItem from '@/components/groups/GroupListItem'
import GroupInfo from '@/components/groups/GroupInfo'
import AddGroupPopup from '@/components/groups/AddGroupPopup'
import popups from '@/mixins/popups'
import ConfirmPopup from '@/components/common/ConfirmPopup'

export default {
  name: 'groups',
  mixins: [ popups ],
  data () {
    return {
      groupId: null,
      group: {},
      currentGroup: null
    }
  },
  computed: {
    ...mapGetters(['groups'])
  },
  methods: {
    ...mapActions([
      'getGroups',
      'getGroupUsers',
      'deleteGroup'
    ]),
    destroyGroup (group) {
      console.log(group)
      this.closeAllPopup()
      this.deleteGroup(group)
    },
    select (groupId) {
      this.groupId = groupId
      this.group = this.groups.find(group => group.id === groupId)
    },
    unselect () {
      this.groupId = null
    },
    openAddPopup () {
      this.isPopupOpened = true
      this.isAddPopup = true
    }
  },
  components: {
    GroupListItem,
    GroupInfo,
    AddGroupPopup,
    ConfirmPopup
  },
  mounted () {
    this.getGroups()
  }
}
</script>

<style scoped>
</style>
