<template>
  <div>
    <select  v-model="productId" name="" id="">
      <option disabled value="">Выберите продукт</option>
      <option v-for="(freeProduct,index) in freeProducts" :key="index"  :value="freeProduct.id">
        {{freeProduct.spec.title + ':' + freeProduct.sn  }}
      </option>
    </select>
    <button @click="addProduct">Добавить</button>
    <span v-if="message">{{message}}</span>
  </div>

</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    export default {
      name: 'GroupAddProduct',
      data () {
        return {
          product: {},
          group: {
            id: this.$route.params.groupId
          },
          message: '',
          productId: 0
        }
      },
      computed: {
        ...mapGetters(['freeProducts'])
      },
      methods: {
        ...mapActions(['getFreeProducts', 'addGroupProduct']),
        addProduct () {
          this.product = Object.values(this.freeProducts).find(product => product.id === this.productId)
          this.addGroupProduct({group: this.group, product: this.product})
        },
        changeProduct (freeProduct) {
          console.log('sfdsgs')
          console.log('change  products')
          this.product = freeProduct
        }
      },

      mounted () {
        this.getFreeProducts()
      }
    }
</script>

<style scoped>

</style>
