<template>
  <transition
  enter-active-class="animated bounceIn"
  leave-active-class="animated zoomOut">
  <div class="entity-info">
    <button type="button" @click="close" class="close-btn close-btn--popup">
      <icon name="times" class="close-btn__sign" />
    </button>
    <div class="tabs-title">
      <span>{{title}}</span>
    </div>
    <div class="tabs-list">
      <span class="tabs-list__title" @click="activate('products')" @keyup.enter.space="activate('products')" :class="{ active: activated == 'products'}" tabindex="0">Продукты</span>
      <span class="tabs-list__title" @click="activate('users')" @keyup.enter.space="activate('users')" :class="{ active: activated == 'users'}" tabindex="0">Пользователи</span>
    </div>

    <transition enter-active-class="animated bounceIn">
      <div class="product-tab" v-show="activated == 'products'">
<!--        <router-link :to="{name: 'groups-add', params: {groupId: groupId }}">-->
<!--          <button type="button" class="tabs-info-btn" tabindex="0">-->
<!--            <span class="entity-add-btn__plus">+</span>-->
<!--            <span @click="" class="entity-add-btn__text">Добавить продукт</span>-->
<!--          </button>-->
<!--        </router-link>-->
        <button @click="customPopup = true" type="button" class="tabs-info-btn" tabindex="0">
          <span class="entity-add-btn__plus">+</span>
          <span class="entity-add-btn__text">Добавить продукт</span>
        </button>
        <div  v-if="customPopup" class="fixed100">
          <AddGroupProductPopup :group="group" @selectedProduct="addProduct"  v-if="customPopup" @close="customPopup = false" >
          </AddGroupProductPopup>
        </div>
        <ul class="entity-infolist entity-infolist--tabs">
          <li  v-for="product in products"
               @click="currentProduct = product"
               class="entity-infolist__item entity-infolist__item--tabs" >
              <span class="entity-infolist__status-indicator" :style="{backgroundColor: '#'+product.status.color}"></span>
            <div class="entity-infolist__icon">
              <img :src="'/'+product.spec.photo" alt="icon" />
            </div>
            <div class="entity-infolist-spec">
              <h4 class="entity-infolist-spec__title">{{product.spec.title}}</h4>
              <div class="entity-infolist-spec__type">{{product.spec.category.title}}</div>
            </div>
            <status-history-tooltip :statuses="[product.status]">
              <span class="entity-infolist__status" :style="{color: product.status.color}">{{product.status.status}}</span>
            </status-history-tooltip>
            <div class="entity-infolist__warranty">
              <span>
                c   {{ getEntityFullDate(new Date(product.guarantee_start), 'ru', ' / ')}}
              </span>
              <span>
                по {{ getEntityFullDate(new Date(product.guarantee_stop), 'ru', ' / ')}}
              </span>
            </div>
            <span class="entity-infolist__condition">
              <template v-if="product.is_new">Новый</template>
              <template v-else>Старый</template>
            </span>
            <div class="entity-infolist-price">
              <span class="entity-infolist-price__default">{{product.price}} $</span>
              <span class="entity-infolist-price__chosen" v-if="product.price">{{product.price}} {{product.currency.symbol}}</span>
            </div>
            <a href="#" class="entity-infolist__group-name" tabindex="-1">{{title}}</a>
            <a href="#" class="entity-infolist__user-name" tabindex="-1" v-if="product.user">{{product.user.name}}</a>
            <a href="#" class="entity-infolist__order-name" tabindex="-1" v-if="product.order">{{product.order.title}}</a>
<!--            <div class="entity-infolist-date">-->
<!--              <span class="entity-infolist-date__short">{{product.date ||getEntityShortDate(new Date(product.date), ' / ')}}</span>-->
<!--              <span class="entity-infolist-date__сomplete">{{product.date ||getEntityFullDate(new Date(product.date), 'ru', ' / ')}}</span>-->
<!--            </div>-->
            <button type="button" class="entity-list__delete-btn" @click="showDeleteProductPopup(product)">
              <icon name="trash-o" />
            </button>
          </li>
        </ul>
        <popup v-if="isPopupOpened && isDeleteProductPopup" class="popup" @clickOutside="closeAllPopup();isDeleteProductPopup = false">
          <DeleteProductPopup v-if="isDeletePopup && isDeleteProductPopup" :product="currentProduct" @confirm="destroyProduct" @close="closeAllPopup(); isDeleteProductPopup = false" />
        </popup>



      </div>
    </transition>

    <transition enter-active-class="animated bounceIn">
      <div class="product-tab" v-show="activated == 'users'">
        <button type="button" class="tabs-info-btn">
          <span class="entity-add-btn__plus">+</span>
          <span @click="isPopupActive = isAddPopup = true" class="entity-add-btn__text">Добавить пользователя</span>
        </button>
        <popup v-if="isPopupActive" class="popup" @click="closeAllPopup" @close="" @clickOutside="isPopupActive = false">
          <AddUserPopup :group="group" @selected="addUser"  v-if="isAddPopup" @close="closeAllPopup" >
          </AddUserPopup>
        </popup>
        <ul class="entity-infolist">
          <li v-for="user in users" class="entity-infolist__item entity-infolist__item--tabs" >
            <div class="entity-infolist__icon">
              <img :src="user.saasUser.avatar" alt="icon">
            </div>
            <a href="#" class="entity-infolist__user-name" tabindex="-1">{{user.saasUser.name}}</a>
            <div class="entity-infolist-count">
              <div class="entity-infolist-count__icon-holder">
                <icon name="asterisk" class="entity-infolist-count__icon" />
              </div>
              <div class="entity-infolist-count__title">
                <span class="entity-infolist-count__title--amount">{{userGroupsLength(user)}}</span>
                <span class="entity-infolist-count__title--desc">Группы</span>
              </div>
            </div>
            <div class="entity-infolist-count">
              <div class="entity-infolist-count__icon-holder">
                <icon name="list-ul" class="entity-infolist-count__icon"/>
              </div>
              <div class="entity-infolist-count__title">
                <span class="entity-infolist-count__title--amount" tabindex="-1">{{userProductsLength(user)}}</span>
                <span class="entity-infolist-count__title--desc">Продукты</span>
              </div>
            </div>
            <button type="button" class="entity-list__delete-btn" @click.stop="currentUser = user;
            isDeletePopup = isPopupOpened = isDeleteUserPopup = true" @keyup.stop>
              <icon name="trash-o" />
            </button>

          </li>
        </ul>
        <popup v-if="isPopupOpened && isDeleteUserPopup" class="popup" @clickOutside="closeAllPopup(); isDeleteUserPopup = false">
          <ConfirmPopup v-if="isDeletePopup && isDeleteUserPopup" :entity="currentUser" @confirm="destroyUser(currentUser)" @close="closeAllPopup();isDeleteUserPopup = false" >
            <template v-slot:action>Удалить данного пользователя?</template>
            <template v-slot:title>{{currentUser.saasUser.name}}</template>
          </ConfirmPopup>
        </popup>
      </div>
    </transition>

  </div>
  </transition>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import 'vue-awesome/icons/times'
import 'vue-awesome/icons/list-ul'
import 'vue-awesome/icons/asterisk'
import AddUserPopup from '../../components/common/AddUserPopup'
import AddGroupProductPopup from '@/components/groups/AddGroupProductPopup'
import popups from '../../mixins/popups'
import DeleteProductPopup from '@/components/common/DeleteProductPopup'
import ConfirmPopup from '@/components/common/ConfirmPopup'

export default {
  mixins: [popups],
  components: {AddUserPopup, AddGroupProductPopup, DeleteProductPopup, ConfirmPopup},
  name: 'order-info',
  data () {
    return {
      activated: 'products',
      productDefaultPriceSymbol: '',
      customPopup: false,
      currentProduct: null,
      isDeleteUserPopup: false,
      isDeleteProductPopup: false
    }
  },
  props: ['groupId', 'group'],
  computed: {
    ...mapGetters([
      'getEntityFullDate',
      'getEntityShortDate',
      'getOrderPrice',
      'getGroupTitle',
      'getGroupProducts',
      'getProductPrice',
      'getProductOrder',
      'getProductUser',
      'getUserGroups',
      'groupUsers'
    ]),
    title () {
      return this.group.title
    },
    products () {
      return this.group.products
    },
    users () {
      return this.groupUsers
    }
  },
  methods: {
    ...mapActions([
      'getOrders',
      'getUsers',
      'addUserToGroup',
      'addGroupProduct',
      'deleteProduct',
      'deleteGroupProduct',
      'deleteUserGroup',
      'getGroupUsers'
    ]),
    userGroupsLength (user) {
      return user.groups.filter(group => +group.room_id === +this.$route.params.roomId).length
    },
    userProductsLength (user) {
      return user.products.filter(product => +product.room_id === +this.$route.params.roomId).length
    },
    destroyProduct () {
      this.deleteGroupProduct({product: this.currentProduct, group: this.group})
      this.closeAllPopup()
    },
    destroyUser (user) {
      this.deleteUserGroup({user, group: this.group})
      this.closeAllPopup()
    },
    showDeleteProductPopup (product) {
      this.currentProduct = product
      this.isPopupOpened = this.isDeletePopup = this.isDeleteProductPopup = true
    },
    close () {
      this.$emit('close')
    },
    activate (contralName) {
      this.activated = contralName
    },
    addUser (user) {
      this.addUserToGroup({user, group: this.group})
    },
    addProduct (product) {
      this.addGroupProduct({group: this.group, product})
    }
  },
  created () {
    console.log('group id', this.groupId)
    this.getOrders()
    this.getUsers()
    this.getGroupUsers(this.group.id)
  }
}
</script>

<style src="@/assets/scss/components/tabs.scss" lang="scss" />
<style scoped>
  .fixed100 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding: 5%;
    padding-top: 10%;
  }
  .fixed100 .popup-body {
    width: 100%;
  }
</style>
