<template>
  <div class="products">
    <!-- .entity-heading -->
    <div class="entity-heading entity-heading--filter-product">
      <div class="entity-heading--product">
        <h2 class="entity-group-title">Products / {{ allProducts.length}}</h2>
      </div>
      <form class="form-filter-product">

        <div  @click="isPopupActive = isAddPopup = true" class="category-add-form__add">
          <label class="form-label">Выберите категорию:</label>
          <input v-model="selectedCategory.name" disabled class="form-field form-field--fullwidth choose-category" type="text" id="parent-category-select" v-focus>
          <button  v-if="selectedCategory.name" @click.stop="unselectCategory" type="button">&times;</button>
        </div>
        <popup v-if="isPopupActive" class="popup" @click="closeAllPopups" @close="" @clickOutside="isPopupActive = false">
          <addCategoryPopup @selected="selected"  v-if="isAddPopup" @close="closeAllPopups" ></addCategoryPopup>
        </popup>

        <div class="form-element form-element--filter">
          <label class="form-label form-label--filter">Спецификация:</label>
          <form-select :key="specsKey" :options="allSpecsTitles" @selected="selectSpecification" @addNew="" class="form-field form-field--filter" />
          <button v-if="selectedSpecification" @click.stop="selectedSpecification = null" type="button">&times;</button>

        </div>
      </form>
    </div>
    <!-- END:.entity-heading -->
    <div class="entity-body entity-body--products myRow" :class="{active: selectedProductId}">
      <div class="entity-list__holder">
        <ul v-if="allProducts.length" class="entity-list entity-list--products">
          <transition-group name="list" mode="out-in">
              <product-list-item @click.native="selectedProduct(product)" v-for="(product, index) of allProducts"
                                 :productInfo="product"
                                 :key="product.id"
                                 @selected="select"
                                 :class="{active: product.id == selectedProductId}"/>
          </transition-group>
        </ul>
        <product-info :productToUpdate="currentProduct" :id="selectedProductId" v-if="selectedProductId" @close="unselect"/>
      </div>
    </div>
  </div>
</template>

<script>
import FormSelect from '@/components/productAdd/FormSelect'
import ProductListItem from '@/components/products/ProductListItem'
import ProductInfo from '@/components/products/ProductInfo'
import { mapGetters, mapActions } from 'vuex'
import addCategoryPopup from '@/components/common/AddCategoryPopup'
import popups from '@/mixins/popups'
import CategoryPicker from '@/components/common/CategoryPicker'
// import {getUserProducts} from "../../store/getters";

export default {
  props: ['group'],
  mixins: [ popups ],
  name: 'products',
  data () {
    return {
      selectedCategory: {name: '', specs: []},
      selectedSpecification: null,
      selectedProductId: null,
      isPopupActive: false,
      isAddPopup: false,
      specsKey: '',
      currentProduct: {}
    }
  },
  computed: {
    ...mapGetters([
      'products',
      'categories',
      'getProductsInSpecification',
      'getSpecificationTitles',
      'getCategorySpecifications',
      'getCategorySpecificationsTitles',
      'specifications',
      'objCategories'
    ]),
    allProducts () {
      let products = []
      let childCatProducts = (cat) => {
        for (let newCat of this.objCategories) {
          if (newCat.parent_id === cat.id) {
            for (let spec of newCat.specs) {
              for (let prod of spec.products) {
                let flag = true
                for (let groupProduct of this.group.products) {
                  if (groupProduct.id === prod.id) flag = false
                }
                if (flag) products.push(prod)
              }
            }
            childCatProducts(newCat)
          }
        }
      }
      if (!this.selectedCategory.name) {
        for (let cat of this.objCategories) {
          for (let spec of cat.specs) {
            for (let prod of spec.products) {
              let flag = true
              for (let groupProduct of this.group.products) {
                if (groupProduct.id === prod.id) flag = false
              }
              if (flag) products.push(prod)
            }
          }
        }
        return products
      } else if (!this.selectedSpecification) {
        for (let spec of this.selectedCategory.specs) {
          for (let prod of spec.products) {
            let flag = true
            for (let groupProduct of this.group.products) {
              if (groupProduct.id === prod.id) flag = false
            }
            if (flag) products.push(prod)
          }
        }
        childCatProducts(this.selectedCategory)
        return products
      }
      return this.selectedSpecification.products.filter(product => !this.group.products.filter(product2 => product2.id === product.id).length)
    },
    allCategories () {
      return this.categories
    },
    clearSpecs () {
      if (!this.selectedCategory || !this.selectedCategory.name) {
        return []
      }
      let arr = []
      for (let spec of this.specifications) {
        for (let spec2 of this.selectedCategory.specs) {
          if (spec2.id === spec.id) arr.push(spec)
        }
      }

      return arr
    },
    allSpecsTitles () {
      return this.clearSpecs.map(spec => spec.title)
    }

  },
  methods: {
    ...mapActions([
      'getObjCategories',
      'getSpecifications',
      'getProducts'
    ]),
    selectedProduct (product) {
      console.log(product)
      this.$emit('selectedProduct', product)
    },
    select (id) {
      this.unselect()
      this.currentProduct = this.allProducts.find(prod => prod.id === id)
      this.selectedProductId = id
    },
    unselect () {
      this.selectedProductId = null
    },
    selectCategory (category) {
      this.selectedSpecification = null
      // this.selectedCategory = category
    },
    selectSpecification (title) {
      this.selectedSpecification = this.clearSpecs.find(spec => spec.title === title)
    },
    selected (category) {
      this.unselectCategory()
      this.selectedCategory = category
      this.closeAllPopups()
      this.selectedSpecification = null
    },
    closeAllPopups () {
      this.isPopupActive = this.isAddPopup = false
    },
    unselectCategory () {
      this.rerenderSelect()
      this.selectedCategory = {name: '', specs: []}
    },
    rerenderSelect () {
      this.specsKey = +(new Date())
    }
  },
  mounted () {
    this.getObjCategories()
    this.getSpecifications()
    this.getProducts()
    this.specsKey = +(new Date())
  },
  components: {
    ProductListItem,
    ProductInfo,
    FormSelect,
    addCategoryPopup,
    CategoryPicker
  }
}
</script>

<style scoped>

  .form-label, .choose-category {
    cursor: pointer;
  }
</style>
