<template>
  <transition
  enter-active-class="animated bounceIn"
  leave-active-class="animated zoomOut">
  <div class="product-info">
     <button type="button" @click="close" class="close-btn close-btn--popup">
      <icon name="times" class="close-btn__sign" />
    </button>
    <product-form :product="productToUpdate" :productId="id" :isGuaranteeProp="isGuaranteeComputed"/>
  </div>
  </transition>
</template>

<script>
import {mapGetters} from 'vuex'
import 'vue-awesome/icons/times'
import ProductForm from '@/components/productAdd/ProductForm'
export default {
  name: 'product-info',
  props: ['id', 'productToUpdate'],
  computed: {
    ...mapGetters([
      'getProduct'
    ]),
    product () {
      return this.getProduct(this.id)
    },
    isGuaranteeComputed () {
      return Boolean(this.product.isGuarantee)
    }
  },
  methods: {
    close () {
      this.$emit('close')
    }
  },
  components: {
    ProductForm
  }
}
</script>

<style src="@/assets/scss/components/product-form-scoped.scss" lang="scss" scoped />

