<template>
  <div class="form-wrapper">
    <div class="category-wrapper">
      <div class="form-title">
        <span class="form-title__text">Категория</span>
      </div>
      <form name="category" class="form-wrapper__form">
        <div  @click="isPopupActive = isAddPopup = true" class="category-add-form__add">
          <label for="category-select" class="form-label">Родительская категория:</label>
          <input v-model="parentCategory.name" disabled class="form-field form-field--fullwidth choose-category" type="text" id="parent-category-select"   v-focus>
        </div>
        <button @click="resetParentCategory" type="button">&times;</button>

        <div class="category-add-form">

          <div class="category-add-form__add">
            <label for="category-select" class="form-label">Добавьте категорию:</label>
            <input class="form-field form-field--fullwidth" type="text" id="category-select" name="categoryTitle" data-vv-as='"Категория"' v-validate="veeValidateCategoryTitleRules" v-model="name" v-focus>
          </div>

          <popup v-if="isPopupActive" class="popup" @click="closeAllPopup" @close="" @clickOutside="isPopupActive = false">
            <addCategoryPopup @selected="selected"  v-if="isAddPopup" @close="closePopups" >
            </addCategoryPopup>
          </popup>
          <div type="button" class="category-add-form__icon">
            <icon name="check" class="category-add-form__icon-check" />
          </div>
        </div>
        <transition enter-active-class="animated bounceIn" leave-active-class="animated bounceOut">
          <span v-if="errors.has('categoryTitle')" class="form-errors">{{ errors.first('categoryTitle') }}</span>
        </transition>
        <button type="button" class="action-btn action-btn--shadow action-btn--success" @click="addCategory(addData)">Добавить</button>

        <ul class="category-add-list">
          <li class="category-add-list__item" v-for="category in categories">{{category}}</li>
        </ul>
      </form>
    </div>
    <button type="button" class="action-btn action-btn--shadow action-btn--success" @click="switchForm">К спецификации</button>
  </div>
</template>

<script>
  import 'vue-awesome/icons/check'
  import { mapGetters, mapActions, mapMutations } from 'vuex'
  import popup from '@/components/common/Popup'
  import addCategoryPopup from '@/components/common/AddCategoryPopup'
  import popups from '@/mixins/popups'
  import CategoryPicker from '@/components/common/CategoryPicker'

  export default {
    mixins: [popups],
    name: 'category-form',
    components: {
      CategoryPicker,
      popup,
      addCategoryPopup
    },
    data () {
      return {
        name: '',
        isPopupActive: false,
        isAddPopup: false,
        parentCategory: {},
        parent_id: 0
      }
    },
    computed: {
      ...mapGetters([
        'categories',
        'getCategoriesTitles',
        'currentCategory'
      ]),
      veeValidateCategoryTitleRules () {
        return {
          required: true,
          excluded: this.getCategoriesTitles
        }
      },
      addData () {
        return Object.assign({}, this.$data, {parent_id: this.parentCategory.id})
      }
    },
    methods: {
      ...mapActions([
        'getCategories',
        'addCategory'
      ]),
      ...mapMutations([
        'setCurrentCategory'
      ]),
      resetParentCategory () {
        this.parentCategory = {id: 0, title: ''}
        this.parent_id = 0
      },
      selected (category) {
        this.parentCategory = category
        this.parent_id = category.id
        this.closePopups()
      },
      closePopups () {
        this.isAddPopup = this.isPopupActive = false
      },
      switchForm () {
        return this.$emit('switchForm', 'specification')
      }
    },
    mounted () {
      this.getCategories()
    }
  }
</script>

<style scoped>
  .choose-category{
    cursor: pointer;
  }
</style>
