<template>
	<div class="form-element form-checkgroup-wrap" :class="{active: isChecked}">
<!--      defaultValue is: <strong>{{defaultValue}}</strong>-->
      <input hidden v-default-value="defaultValue" v-model="isChecked" :id="id" type="checkbox"
             class="form-checkgroup-wrap__input" @change="onChange" />
      <label :for="id" class="form-label form-label--checkgroup">
        {{label}}:
        <!-- form-checkgroup -->
        <span class="form-checkgroup form-field">
          <span class="form-checkgroup__val" v-for="(option, index) in options">{{option}}</span>
        </span>
        <!-- END:form-checkgroup -->
      </label>
    </div>
</template>

<script>
export default {
  name: 'form-checkbox',
  props: {
    id: String,
    defaultValue: {
      default: null
    },
    label: String,
    options: {
      type: Array,
      default: []
    }
  },
  data () {
    return {
      isChecked: this.defaultValue
    }
  },
  methods: {
    onChange () {
      this.$emit('checkboxChanged', this.isChecked)
    }
  }
}
</script>
