<template>
  <div class="form-wrapper">
    <div class="form-title">
      <span class="form-title__text">Продукты</span>
    </div>

      <!-- .form-element -->
      <div class="form-element">
        <label class="form-label required">Выберите спецификацию</label>
        <form-select  :options="getSpecificationTitles" :selectedOption="selectedProductTitle" @selected="spec = $event" @addNew="" class="form-field form-field--fullwidth" v-focus/>
      </div>
      <!-- END:.form-element -->

      <!-- .form-element -->
      <div class="form-element">
        <label class="form-label required">Введите серийный номер</label>
        <input v-model="sn"
               type="text"
               name="serialNumber"
               class="form-field form-field--fullwidth"
               data-vv-as='"Серийный номер"'
               v-validate="veeValidateSerialNumberRules"
               v-default-value="serialNumberExisting">
        <transition enter-active-class="animated bounceIn" leave-active-class="animated bounceOut">
          <span v-if="errors.has('serialNumber')" class="form-errors">{{ errors.first('serialNumber') }}</span>
        </transition>
      </div>
      <!-- END:.form-element -->
      <div class="form-element">
        <label class="form-label required">Введите цену</label>
        <input v-model="price"
               max="9999999"
               type="number"
               name="price"
               class="form-field form-field--fullwidth"
               data-vv-as='"Цена"'
               v-validate="veeValidateSerialNumberRules"
               v-default-value="serialNumberExisting">
        <transition enter-active-class="animated bounceIn" leave-active-class="animated bounceOut">
          <span v-if="errors.has('price')" class="form-errors">{{ errors.first('price') }}</span>
        </transition>
      </div>

      <div>
        <!-- guarantee -->
      <div class="form-element form-checkgroup-wrap" :class="{active: isGuaranteeExisting}">
      <input hidden v-default-value="isGuaranteeProp" id="id" v-model="isGuaranteeExisting" type="checkbox" class="form-checkgroup-wrap__input" />
      <label for="id" class="form-label form-label--checkgroup">
        <!-- form-checkgroup -->
        <span>Наличие гарантии</span>
        <span class="form-checkgroup form-field">
          <span class="form-checkgroup__val">нет</span>
          <span class="form-checkgroup__val">да</span>
        </span>
        <!-- END:form-checkgroup -->
      </label>
    </div>
        <transition
          enter-active-class="animated bounceIn"
          leave-active-class="animated bounceOut"
          >
          <div v-if="isGuaranteeExisting" class="form-element form-element--guarantee form-date-wrap">
            <div class="form-element__subelement">
              <label class="form-label">Начало гарантии:</label>

              <!-- .date-picker -->
              <div class="date-picker">
                <icon name="calendar" />
                <datepicker v-model="guarantee.start" class="form-date-picker" placeholder="дд.мм.гггг" />
              </div>
              <!-- END:.date-picker -->
            </div>

            <div class="form-element__subelement">
              <label class="form-label">Конец гарантии:</label>
              <!-- .date-picker -->
              <div class="date-picker">
                <icon name="calendar" />
                <datepicker v-model="guarantee.end" class="form-date-picker" placeholder="дд.мм.гггг" />
              </div>
              <!-- END:.date-picker -->
            </div>
          </div>
        </transition>
        <!-- END:guarantee -->

        <form-checkbox v-if="product" :id="'isStatusCheckbox'" :defaultValue="product.is_new" :value="product.is_new" :label="'Состояние продукта'" :options="['Б/У', 'Новый']"
                        @checkboxChanged="statusToggle"/>
        <form-checkbox v-else :id="'isStatusCheckbox'" :defaultValue="isNewExisting" :value="isNewExisting" :label="'Состояние продукта'" :options="['Б/У', 'Новый']"
                       @checkboxChanged="statusToggle"/>

      </div>

      <!-- .form-element -->
      <div class="form-element">
        <label class="form-label">Валюта:</label>
        <form-select :selectedOption="getSelectedCurrency" :options="allCurrencies" @selected="currency = $event" @addNew="" class="form-field form-field--inline form-select-currency" />
      </div>
      <!-- END:.form-element -->

      <!-- .form-element -->
      <div class="form-element">
        <label class="form-label required">Статус</label>
        <form-select :selectedOption="getSelectedStatus" :options="allStatuses" @selected="status = $event" @addNew="" class="form-field form-field--fullwidth" />
      </div>
      <!-- END:.form-element -->

      <br />
      <div class="form-element form-button">
        <button v-if="!product" type="reset" class="action-btn action-btn--info">Отменить</button>
        <button v-if="!product" @click="addProduct($data)" type="button" class="action-btn action-btn--shadow action-btn--success">Добавить</button>
        <button v-else @click="updateProduct($data)" type="button" class="action-btn action-btn--shadow action-btn--success">Обновить</button>
      </div>
  </div>
</template>

<script>
import FormSelect from '@/components/productAdd/FormSelect'
import FormCheckbox from '@/components/productAdd/FormCheckbox'
import 'vue-awesome/icons/calendar'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'product-form',
  props: {
    productId: {
      type: Number,
      default: null
    },
    isGuaranteeProp: {
      type: Boolean,
      default: null
    },
    product: {
      default: null
    }
  },
  data () {
    return {
      // serialNumberEdited: null,
      id: null,
      sn: '',
      spec: '',
      guarantee: {
        start: '',
        end: ''
      },
      price: '',
      isGuaranteeExisting: this.isGuaranteeProp,
      isNewExisting: null,
      currency: '',
      status: '',
      order: {},
      group: {}
    }
  },
  computed: {
    ...mapGetters([
      'products',
      'getProduct',
      'getProductsSerialNumbers',
      'getProductTitles',
      'getCurrenciesSymbols',
      'getStatusesTitles',
      'getSpecificationTitles',
      // 'getActiveOrder',
      'getCurrentOrder'
    ]),
    // isGuaranteeComputed () {
    //   if (this.isGuaranteeExisting != null) {
    //     this.isGuaranteeExisting = this.isGuaranteeExisting
    //   } else {
    //     this.isGuaranteeExisting = this.isGuaranteeProp
    //   }
    //   return this.isGuaranteeExisting
    // },
    getSelectedCurrency () {
      if (this.product) {
        return this.product.currency.symbol
      }
      return null
    },
    getSelectedStatus () {
      if (this.product) {
        return this.product.status.status
      }
      return null
    },
    veeValidateSerialNumberRules () {
      return {
        required: true,
        numeric: true,
        excluded: this.getProductsSerialNumbers(this.productId)
      }
    },
    selectedProductTitle () {
      let product = this.getProduct(this.productId)
      if (this.product) {
        return this.product.spec.title
      }
      if (product) {
        return product.specification
      } else {
      }
      return null
    },
    serialNumberExisting () {
      let product = this.getProduct(this.productId)
      if (product) {
        return product.serialNumber
      } else {
        return null
      }
    },
    productTitles () {
      return this.getProductTitles
    },
    allCurrencies () {
      return this.getCurrenciesSymbols
    },
    allStatuses () {
      return this.getStatusesTitles
    }
  },
  methods: {
    ...mapActions([
      'getProducts',
      'getStatuses',
      'getCurrencies',
      'addProduct',
      'updateProduct',
      'getSpecifications',
      'getOrder',
      'getGroup'
    ]),
    guaranteeToggle (value) {
      this.isGuaranteeExisting = value
    },
    statusToggle (value) {
      console.log('status toggle', value)
      this.isNewExisting = value
      console.log('isNewExisting', value)
      if (this.product) {
        this.product.is_new = value
      }
      this.updateData()
    },
    updateData () {
      if (this.product) {
        this.sn = this.product.sn
        this.guarantee.start = this.product.guarantee_start
        this.guarantee.end = this.product.guarantee_stop

        this.price = this.product.price
        this.isGuaranteeExisting = this.product.is_guarantee
        this.isNewExisting = this.product.is_new > 0
        this.currency = this.product.currency.symbol
        this.status = this.product.status ? this.product.status.status : ''
        // this.order = this.product.orders ? this.product.orders[]
        // this.group = this.product.group
        this.id = this.product.id
        this.$nextTick()
          .then(() => {
            setTimeout(() => {
              this.spec = this.product.spec.title
            }, 500)
          })
      }
    }
  },
  components: {
    FormSelect,
    FormCheckbox
  },
  beforeUpdate () {
    // this.isGuaranteeExisting = Boolean(this.getProduct(this.productId).isGuarantee)
  },
  mounted () {
    this.getProducts()
    this.getStatuses()
    this.getCurrencies()
    this.getSpecifications()
    this.getOrder(this.$route.params.orderId)
      .then((resp) => {
        this.order = resp.data
        console.log('ORDER', resp.data)
      })

    this.getGroup(this.$route.params.groupId)
      .then((resp) => {
        this.group = resp.data
      })
    this.updateData()
  },
  watch: {
    product () {
      this.updateData()
    }
  }
}
</script>
