<template>
  <div class="form-wrapper">
    <div class="form-title">
      <span class="form-title__text">Cпецификация</span>
    </div>
    <form name="specification" class="form-wrapper__form">



<!--      <div class="category-add-form__add">-->
<!--         <label class="form-label">Выберите категорию:</label>-->
<!--         <form-select :options="allCategories" @selected="selectedCategory = $event" @addNew="" class="form-field form-field&#45;&#45;fullwidth" v-focus/>-->
<!--      </div>-->


      <div  @click="isPopupActive = isAddPopup = true" class="category-add-form__add">
        <label class="form-label">Выберите категорию:</label>
        <input v-model="selectedCategory" disabled class="form-field form-field--fullwidth choose-category" type="text" id="parent-category-select" v-focus>
      </div>
      <popup v-if="isPopupActive" class="popup" @click="closeAllPopup" @close="" @clickOutside="isPopupActive = false">
        <addCategoryPopup @selected="selected"  v-if="isAddPopup" @close="closeAllPopups" ></addCategoryPopup>
      </popup>



      <div class="spec-add-form__add">
        <div class="spec-add-form__wrapper">
          <label for="spec-add" class="form-label required">Добавьте Спецификацию</label>
          <input type="text" v-model="title" name="specificationTitle" data-vv-as='"Спецификация"' id="spec-add" class="form-field form-field--fullwidth" v-validate="veeValidateSpecificationTitleRules">
        </div>
        <button @click="addSpec($data)"  type="button" class="spec-add-btn">
          <icon name="floppy-o" class="spec-add-btn__icon"></icon>
        </button>
      </div>
      <transition enter-active-class="animated bounceIn" leave-active-class="animated bounceOut">
        <span v-if="errors.has('specificationTitle')" class="form-errors">{{ errors.first('specificationTitle') }}</span>
      </transition>

      <file-upload @loaded="fileLoaded" class="specification-upload" />

      <!-- form-element -->
      <div class="form-element form-button">
        <button type="button" class="action-btn action-btn--info" @click="switchForm('category')">К категории</button>
        <button type="button" class="action-btn action-btn--shadow action-btn--success" @click="switchForm('product')">К продукту</button>
      </div>
      <!-- END:form-element -->
    </form>
  </div>
</template>

<script>
import FileUpload from '../common/FileUpload'
import FormSelect from '@/components/productAdd/FormSelect'
import { mapGetters, mapActions } from 'vuex'
import addCategoryPopup from '@/components/common/AddCategoryPopup'
import popups from '@/mixins/popups'
import CategoryPicker from '@/components/common/CategoryPicker'

export default {
  mixins: [popups],
  name: 'specification-form',
  data () {
    return {
      selectedCategory: '',
      title: '',
      base64Img: '',
      isPopupActive: false,
      isAddPopup: false,
      currentCategory: {}
    }
  },
  computed: {
    ...mapGetters([
      'specifications',
      'categories',
      'getSpecificationTitles'
    ]),
    allCategories () {
      return this.categories
    },
    veeValidateSpecificationTitleRules () {
      return {
        required: true,
        min: 3,
        excluded: this.getSpecificationTitles
      }
    }
  },
  methods: {
    ...mapActions([
      'getSpecifications',
      'getCategories',
      'addSpec'
    ]),
    fileLoaded (base64) {
      this.base64Img = base64
    },
    switchForm (form) {
      this.$emit('switchForm', form)
    },
    selected (category) {
      console.log('category', category)
      this.selectedCategory = category.name
      this.closeAllPopups()
    },
    closeAllPopups () {
      this.isPopupActive = this.isAddPopup = false
    }
  },
  mounted () {
    this.getSpecifications()
    this.getCategories()
  },
  components: {
    FileUpload,
    FormSelect,
    addCategoryPopup,
    popups,
    CategoryPicker
  }
}
</script>

<style scoped>
</style>
