<template>
  <div class="popup-body">
    <div class="popup-header">
      <div class="input-field">
        <label  class="form-label">Название категории:</label>
      </div>
      <CategoryPicker :handle-click="handleClick" :current-categories="puredObjCategories" :all-categories="puredObjCategories" :only-roots="true"/>
    </div>
    <div class="popup-footer text-center">
<!--      <button @click="add" class="action-btn action-btn&#45;&#45;shadow">Добавить</button>-->
      <button type="button" @click="close" class="close-btn close-btn--popup ">
        <icon name="times" class="close-btn__sign" />
      </button>
    </div>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'
  import CategoryPicker from '../common/CategoryPicker'
  export default {
    name: 'add-category-popup',
    props: {
      child: {
        default: null
      }
    },
    data () {
      return {
        group: {
          title: '',
          image: ''
        }
      }
    },
    computed: {
      ...mapGetters([
        'getGroupTitles',
        'objCategories'

      ]),
      puredObjCategories () {
        if (!this.child) return this.objCategories
        return this.objCategories.filter(cat => +cat.id !== +this.child.id)
      },
      veeValidateGroupTitleRules () {
        return {
          required: true,
          excluded: this.getGroupTitles
        }
      },
      title: {
        get () {
          return this.group.title
        },
        set (val) {
          this.group.title = val
        }
      }
    },
    methods: {
      ...mapActions([
        'addGroup',
        'getCategories',
        'getObjCategories'
      ]),
      selected (category) {
        this.$emit('selected', category)
      },
      handleClick (category) {
        this.$emit('selected', category)
      },
      add () {
        if (!this.group.title || !this.group.image) return
        this.addGroup(this.group)
        this.close()
      },
      loaded (data) {
        this.group.image = data
      },
      close () {
        this.$emit('close')
      }
    },
    components: {
      CategoryPicker
    },
    created () {
      this.getObjCategories()
    }
  }
</script>

<style src="@/assets/scss/components/popup-scoped.scss" lang="scss" scoped></style>
