<template>
  <div class="popup-body">
    <div class="popup-header">
      <div class="input-field">
        <label  class="form-label">Выберите пользователя:</label>
      </div>

        <div v-for="user in puredUsers" @click="selected(user)">
          <img  height="50" width="50" :src="user.saasUser.avatar" alt="">
          <span >{{user.saasUser.name}}</span>
        </div>

    </div>
    <div class="popup-footer text-center">
<!--      <button @click="add" class="action-btn action-btn&#45;&#45;shadow">Добавить</button>-->
      <button type="button" @click="close" class="close-btn close-btn--popup ">
        <icon name="times" class="close-btn__sign" />
      </button>
    </div>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'
  export default {
    props: ['group'],
    name: 'add-group',
    data () {
      return {
      }
    },
    computed: {
      ...mapGetters([
        'getGroupTitles',
        'objCategories',
        'users'

      ]),
      puredUsers () {
        return this.users.filter(user => {
          let flag = true
          for (let group of user.groups) {
            if (group.id === this.group.id) {
              flag = false
            }
          }
          return flag
        })
      }
    },
    methods: {
      ...mapActions([
        'addGroup',
        'getCategories',
        'getObjCategories',
        'getUsers',
        'addUserToGroup'
      ]),
      selected (user) {
        this.close()
        this.$emit('selected', user)
      },
      add () {
        if (!this.group.title || !this.group.image) return
        this.addUserToGroup({group: this.group, user: this.user})
        this.close()
      },
      loaded (data) {
        this.group.image = data
      },
      close () {
        this.$emit('close')
      }
    },
    components: {
    },
    mounted () {
      this.getUsers()
    }
  }
</script>

<style src="@/assets/scss/components/popup-scoped.scss" lang="scss" scoped></style>
