<template>
  <ul class="category">
      <li v-for="category in checkedCategories" @click.stop="handleClick(category)">
        <span >{{category.name}}</span>
        <template v-if="subCategories(category.id).length">
          <CategoryPicker :all-categories="allCategories"
                          :current-categories="subCategories(category.id)"
                          :only-roots="false"
                          :handle-click="handleClick"
          ></CategoryPicker>
        </template>
      </li>
  </ul>
</template>

<script>
    import CategoryPicker from '@/components/common/CategoryPicker'
    import {mapMutations} from 'vuex'

    export default {
      name: 'CategoryPicker',
      props: {
        onlyRoots: false,
        currentCategories: {
          type: Array
        },
        allCategories: {
          type: Array
        },
        handleClick: Function
      },
      computed: {
        checkedCategories () {
          if (this.onlyRoots) {
            return this.currentCategories.filter(category => !category.parent_id)
          }
          return this.currentCategories
        }
      },
      methods: {
        ...mapMutations([
          'setCurrentCategory'
        ]),
        // selected (data) {
        //   console.log(data.name)
        //   // this.$emit('selected', data)
        // },
        subCategories (catId) {
          return this.allCategories.filter(cat => cat.parent_id === catId)
        },
        select (category) {
          this.$emit('bus', category)
        }
      },
      mounted () {
        console.log(this.handleClick)
      },
      components: {
        CategoryPicker,
        mapMutations
      }
    }
</script>

<style scoped>
  li:hover > span   {
    cursor: pointer;
    color: red;
    transition: all .5s ease;
  }
  .category {
    border: 2px #fefefe;
  }
    .category .category{
      margin-left: 50px;
    }
</style>
