<template>
  <transition
    appear
    appear-active-class="animated bounceInLeft">
    <aside class="navigation-menu">
      <div class="user-nav-settings">
        <!-- .user-nav-avatar -->
        <div class="user-nav-avatar">
          <img  width="150" height="150" :src="user.avatar" alt="user-avatar" class="user-nav__img" />
          <router-link :to="{name: 'settings'}" class="user-nav-btn" tabindex="0">
            <icon name="gear" class="user-settings-icon"/>
          </router-link>
        </div>
        <!-- END:.user-nav-avatar -->
      </div>

      <nav class="app-nav">
        <!-- app-navlist -->
<!--        <ul class="app-navlist">-->
<!--          <li class="app-navlist__item">-->
<!--            <router-link class="app-navlist__link" :to="{ name: 'orders'}">Orders</router-link>-->
<!--          </li>-->
<!--          <li class="app-navlist__item">-->
<!--            <router-link class="app-navlist__link" :to="{ name: 'groups'}">Groups</router-link>-->
<!--          </li>-->
<!--          <li class="app-navlist__item">-->
<!--            <router-link class="app-navlist__link" :to="{ name: 'products'}">Products</router-link>-->
<!--          </li>-->
<!--          <li class="app-navlist__item">-->
<!--            <router-link class="app-navlist__link" :to="{ name: 'users'}">Users</router-link>-->
<!--          </li>-->
<!--          <li class="app-navlist__item">-->
<!--            <router-link class="app-navlist__link" :to="{ name: 'settings'}">Settings</router-link>-->
<!--          </li>-->
<!--        </ul>-->
        <ul v-if="isMenuActive" class="app-navlist">
          <li class="app-navlist__item">
            <router-link class="app-navlist__link" :to="{ name: 'myRooms', params:{roomId}}">Rooms</router-link>
          </li>
          <li class="app-navlist__item">
            <router-link class="app-navlist__link" :to="{ name: 'orders', params:{roomId}}">Orders</router-link>
          </li>
          <li class="app-navlist__item">
            <router-link class="app-navlist__link" :to="{ name: 'groups', params:{roomId}}">Groups</router-link>
          </li>
          <li class="app-navlist__item">
            <router-link class="app-navlist__link" :to="{ name: 'products', params:{roomId}}">Products</router-link>
          </li>
          <li class="app-navlist__item">
            <router-link class="app-navlist__link" :to="{ name: 'users', params:{roomId}}">Users</router-link>
          </li>
          <li class="app-navlist__item">
            <router-link class="app-navlist__link" :to="{ name: 'settings', params:{roomId}}">Settings</router-link>
          </li>
        </ul>
        <!-- END:app-navlist -->
      </nav>
    </aside>
  </transition>
</template>

<script>
import 'vue-awesome/icons/gear'
import { mapGetters, mapActions, mapMutations } from 'vuex'
export default {
  data () {
    return {
      routeName: '',
      roomId: ''
    }
  },
  methods: {
    ...mapActions([
      'getUser'
    ]),
    ...mapMutations([
      'setRouteName'
    ])
  },
  computed: {
    ...mapGetters([
      'user'
    ]),
    isMenuActive () {
      return this.routeName !== 'myRooms' && this.roomId
    }
  },

  created () {
    console.log('getUser')
    this.getUser()
    this.roomId = this.$route.params.roomId
  },
  watch: {
    '$route' (to, from) {
      this.routeName = to.name
      this.roomId = this.$route.params.roomId
      // обрабатываем изменение параметров маршрута...
    }
  },
  beforeEach (to, from, next) {
    console.log('enter nav')
  }
}

</script>

<style src="@/assets/scss/components/navigation-menu.scss" lang="scss" scoped />
