<template>
  <div class="form-wrapper">
    <div class="category-wrapper">
      <div class="form-title">
        <span class="form-title__text">Категории</span>
      </div>
      <button @click="selectAdd" :class="{'active-setting-button': isAdd}" type="button" class="action-btn action-btn--shadow action-btn--success" >Добавление</button>
      <button @click="selectUpdate" :class="{'active-setting-button': isUpdate}" type="button" class="action-btn action-btn--shadow action-btn--success" >Редактирование</button>

      <form v-if="isAdd" name="category" class="form-wrapper__form">
        <div  @click="isPopupActive = isAddPopup = true" class="category-add-form__add">
          <label for="category-select" class="form-label">Родительская категория:</label>
          <input v-model="parentCategory.name" disabled class="form-field form-field--fullwidth choose-category"
                 type="text" id="parent-category-select"   >
        </div>
        <button @click="resetParentCategory" type="button">&times;</button>

        <div class="category-add-form">

          <div class="category-add-form__add">
            <label for="category-select" class="form-label">Добавьте категорию:</label>
            <input class="form-field form-field--fullwidth" type="text" id="category-select" name="categoryTitle" data-vv-as='"Категория"' v-validate="veeValidateCategoryTitleRules" v-model="name" >
          </div>

          <popup v-if="isPopupActive" class="popup" @click="closeAllPopup" @close="" @clickOutside="isPopupActive = false">
            <addCategoryPopup @selected="selected" v-if="isAddPopup" @close="closePopups" >
            </addCategoryPopup>
          </popup>
          <div type="button" class="category-add-form__icon">
            <icon name="check" class="category-add-form__icon-check" />
          </div>
        </div>
        <transition enter-active-class="animated bounceIn" leave-active-class="animated bounceOut">
          <span v-if="errors.has('categoryTitle')" class="form-errors">{{ errors.first('categoryTitle') }}</span>
        </transition>
        <button type="button" class="action-btn action-btn--shadow action-btn--success" @click="addCategory(addData)">Добавить</button>

        <ul class="category-add-list">
          <li class="category-add-list__item" v-for="category in categories">{{category}}</li>
        </ul>
      </form>


      <form v-else name="category" class="form-wrapper__form">
<!--        <div  @click="isPopupActive = isAddPopup = true" class="category-add-form__add">-->
<!--          <label for="category-select" class="form-label">Категория:</label>-->
<!--          <input v-model="updatedCategory.name" disabled class="form-field form-field&#45;&#45;fullwidth choose-category" type="text" v-focus>-->
<!--        </div>-->
        <button @click="isPopupActive = isAddPopup = true"  type="button" class=" active-setting-button action-btn action-btn--shadow action-btn--success" >Выбрать категорию</button>
        <popup v-if="isPopupActive" class="popup" @click="closeAllPopup" @close="" @clickOutside="isPopupActive = false">
          <addCategoryPopup @selected="selectedUpdatedCategory"   v-if="isAddPopup" @close="closePopups">
          </addCategoryPopup>
        </popup>



        <button v-if="updatedCategory.id" @click="isParentCategoryPopup = true" type="button" class=" active-setting-button action-btn action-btn--shadow action-btn--success" >
          Род. кат.
        </button>
        <popup v-if="isParentCategoryPopup" class="popup" @click="isParentCategoryPopup = false" @close="" @clickOutside="isParentCategoryPopup = false">
          <addCategoryPopup @selected="selectedParentCategory"  :child="updatedCategory" v-if="isParentCategoryPopup" @close="isParentCategoryPopup = false" >
          </addCategoryPopup>
        </popup>
        <div v-if="parentCategory.name">
          <label >
            <input  :value="parentCategory.name" class="form-field form-field--fullwidth" type="text"  name="categoryTitle"
                    data-vv-as='"Родительская категория"' disabled>
          </label>
        </div>

        <div v-if="updatedCategory" class="category-add-form">
          <div class="category-add-form__add">
            <label for="category-select" class="form-label">Название категории:</label>
            <input  v-model="updatedCategory.name"  class="form-field form-field--fullwidth" type="text"  name="categoryTitle"
                   data-vv-as='"Категория"' v-validate="veeValidateCategoryTitleRules"  >
          </div>


          <div type="button" class="category-add-form__icon">
            <icon name="check" class="category-add-form__icon-check" />
          </div>
        </div>

        <transition enter-active-class="animated bounceIn" leave-active-class="animated bounceOut">
          <span v-if="errors.has('categoryTitle')" class="form-errors">{{ errors.first('categoryTitle') }}</span>
        </transition>
        <button v-if="updatedCategory.id" type="button" class="action-btn action-btn--shadow action-btn--success" @click="updateCategoryHandler">Обновить</button>

        <ul class="category-add-list">
          <li class="category-add-list__item" v-for="category in categories">{{category}}</li>
        </ul>
      </form>
    </div>
  </div>
</template>

<script>
  import 'vue-awesome/icons/check'
  import { mapGetters, mapActions, mapMutations } from 'vuex'
  import popup from '@/components/common/Popup'
  import addCategoryPopup from '@/components/common/AddCategoryPopup'
  import popups from '@/mixins/popups'
  import CategoryPicker from '@/components/common/CategoryPicker'

  export default {
    mixins: [popups],
    name: 'category-form',
    components: {
      CategoryPicker,
      popup,
      addCategoryPopup
    },
    data () {
      return {
        name: '',
        isPopupActive: false,
        isAddPopup: false,
        parentCategory: {},
        parent_id: 0,
        isAdd: true,
        isUpdate: false,
        isParentCategoryPopup: false,
        updatedCategory: {name: ''}
      }
    },
    computed: {
      ...mapGetters([
        'categories',
        'objCategories',
        'getCategoriesTitles',
        'currentCategory'
      ]),
      veeValidateCategoryTitleRules () {
        return {
          required: true,
          excluded: this.getCategoriesTitles
        }
      },
      addData () {
        return Object.assign({}, this.$data, {parent_id: this.parentCategory.id})
      }
    },
    methods: {
      ...mapActions([
        'getCategories',
        'getObjCategories',
        'addCategory',
        'updateCategory'
      ]),
      ...mapMutations([
        'setCurrentCategory'
      ]),
      resetParentCategory () {
        this.parentCategory = {id: 0, title: ''}
        this.parent_id = 0
      },
      resetUpdatedCategory () {
        this.updatedCategory = {name: ''}
      },
      selected (category) {
        this.parentCategory = category
        this.parent_id = category.id
        this.closePopups()
      },
      selectedUpdatedCategory (category) {
        this.updatedCategory = category

        if (!category.parent_id) this.parentCategory = {}
        else this.parentCategory = this.objCategories.find(cat => cat.id === category.parent_id)
        this.closePopups()
      },
      selectedParentCategory (category) {
        this.updatedCategory.parent_id = category.id
        this.parentCategory = category
        this.closePopups()
        this.isParentCategoryPopup = false
      },
      updateCategoryHandler () {
        if (!this.updatedCategory.name) return
        this.updateCategory(this.updatedCategory)
      },
      closePopups () {
        this.isAddPopup = this.isPopupActive = false
      },
      switchForm () {
        return this.$emit('switchForm', 'specification')
      },
      selectUpdate () {
        this.isUpdate = true
        this.isAdd = false
        this.parentCategory = {}
      },
      selectAdd () {
        this.isUpdate = false
        this.isAdd = true
        this.parentCategory = {}
      },
      switchMode () {
        this.isUpdate = !(this.isAdd = !this.isAdd)
      }
    },
    mounted () {
      this.getCategories()
      this.getObjCategories()
    }
  }
</script>

<style >
  .choose-category{
    cursor: pointer;
  }
  .active-setting-button {
    background: #fe7570;
  }

</style>
