<template>
  <div class="settings">
    <div class="entity-heading">
      <h2 class="entity-group-title">Настройки</h2>
    </div>
    <!-- START: settings top block-->
    <div class="settings-block settings-block--top">
      <div class="settings-block__inner settings-block__inner--currency">
        <div class="settings-group-holder">
          <h3 class="settings-group-title">Валюта</h3>
        </div>
        <div class="settings-list-general">
          <div class="settings-list__all-currency">
            <div class="settings-list-holder">
              <span class="settings-list-title">Список валют:</span>
            </div>
            <div class="settings-list-wrapper">
              <ul class="settings-list">
                <li class="settings-list__item" v-for="(currency, index) in showCurrencies">
                  <input type="checkbox" name="currency" :id="'currency' + (index + 1)" :checked="currency.isDefault" />
                  <label :for="'currency' + (index + 1)">{{currency.symbol}}</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="settings-list__default-currency">
            <div class="settings-list-holder">
              <span class="settings-list-title">Валюта по умолчанию:</span>
            </div>
            <div class="settings-list-wrapper">
              <ul class="settings-list">
                <li class="settings-list__item" v-for="(currency, index) in showCurrencies">
                  <input type="radio" name="currency" :id="'default-currency' + (index + 1)" :checked="currency.isDefault" />
                  <label :for="'default-currency' + (index + 1)">{{currency.symbol}}</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="settings-list__exchange-rate">
            <div class="settings-list-holder">
              <span class="settings-list-title">Курс валют:</span>
            </div>
            <div class="settings-list-wrapper">
              <ul class="settings-list">
                <li class="settings-list__item">
                  <input type="text" class="form-field form-field--fullwidth">
                </li>
                <li class="settings-list__item">UAH - 0.27</li>
                <li class="settings-list__item">USD - 26.1950</li>
                <li class="settings-list__item settings-list__item--note">* Курс по Сбербанку России</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- START: settings bottom block-->
      <div class="settings-block__inner settings-block--status">
        <div class="settings-group-holder">
            <h3 class="settings-group-title">Статусы</h3>
        </div>
        <div class="settings-indecators">
          <div class="settings-indecators__wrapper">
            <div class="settings-list-holder">
              <span class="settings-list-title">Статусы по умолчанию:</span>
            </div>
            <ul class="settings-list settings-list--indicator">
              <li class="settings-list__item" v-for="status in statuses">
                <span class="entity-infolist__status-indicator" :style="{backgroundColor: '#'+status.color}"></span>
                <span class="entity-infolist__status-name">{{status.status}}</span>
              </li>
            </ul>
          </div>

          <div class="settings-indecators__wrapper">
            <div class="settings-list-holder">
              <span class="settings-list-title">Мои статусы:</span>
            </div>
            <ul class="settings-list settings-list--indicator">
              <li class="settings-list__item" v-for="status in statusesCustom">
                <span class="entity-infolist__status-indicator" :style="{backgroundColor: '#'+status.color}"></span>
                <span class="entity-infolist__status-name">{{status.title}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="settings-indecators settings-indecators--color-picker ">
          <div class="settings-list-holder">
            <span class="settings-list-title">Добавьте статус:</span>
          </div>
        </div>

        <div class="settings-colorpicker">
          <color-picker @color-selected="setNewColor" />
          <div class="settings-colorpicker__status-name">
            <input type="text" placeholder="Название статуса" class="form-field form-field--colorpicker" v-model="newStatusTitile">
            <button @click.prevent="handleStatus" class="colorpicker-btn" type="button" >
              <icon name="floppy-o" class="edit-settings__icon" />
            </button>
          </div>
        </div>

      </div>
    <!-- END: settings bottom block-->
    </div>
    <!-- END: settings top block-->
    <!-- START: settings centr block-->
    <div class="settings-block settings-block--center">
      <div class="settings-block__inner">
        <div class="settings-container">
          <CategoryForm></CategoryForm>
          <SpecificationForm></SpecificationForm>
        </div>
      </div>
    </div>
    <!-- END: settings centr block-->
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import 'vue-awesome/icons/pencil'
import 'vue-awesome/icons/trash'
import 'vue-awesome/icons/angle-down'
import 'vue-awesome/icons/floppy-o'
import ColorPicker from '@/components/common/ColorPicker'
import popups from '@/mixins/popups'
import ConfirmPopup from '@/components/common/ConfirmPopup'
import CategoryForm from '@/components/settings/CategoryForm'
import SpecificationForm from '@/components/settings/SpecificationForm'

export default {
  mixins: [popups],
  name: 'settings',
  data () {
    return {
      selectedCategory: {name: '', specs: []},
      selectedSpecification: null,
      selectedColor: '',
      newStatusTitile: '',
      categoryAddPopup: false,
      specAddPopup: false
    }
  },
  components: {
    ColorPicker,
    ConfirmPopup,
    CategoryForm,
    SpecificationForm
  },
  computed: {
    ...mapGetters([
      'currencies',
      'statuses',
      'categories',
      'getAllStatuses',
      'getCategorySpecifications',
      'objCategories'
    ]),
    addSpecHandler () {

    },
    addCategoryHandler () {

    },
    showCurrencies () {
      return this.currencies
    },
    statusesDefault () {
      return this.getAllStatuses(1)
    },
    statusesCustom () {
      return this.getAllStatuses(0)
    },
    showCategories () {
      return this.categories
    }
  },
  methods: {
    ...mapActions([
      'getStatuses',
      'getCurrencies',
      'getCategories',
      'getSpecifications',
      'addStatus',
      'getObjCategories'
    ]),
    handleStatus () {
      if (!this.selectedColor || !this.newStatusTitile) return
      this.addStatus({
        selectedColor: this.selectedColor.slice(1),
        newStatusTitile: this.newStatusTitile
      })
    },
    setNewColor (newColor) {
      this.selectedColor = newColor.hex
    },
    addNewStatus () {
      if (!this.selectedColor && !this.newStatusTitile) {
        return
      }
      let newStatus = {
        color: this.selectedColor,
        isDefault: 0,
        date: new Date(),
        title: this.newStatusTitile,
        description: ''
      }
      this.statuses.push(newStatus)
    }
  },
  mounted () {
    this.getStatuses()
    this.getCurrencies()
    this.getCategories()
    this.getSpecifications()
    this.getObjCategories()
  }
}
</script>
<style scoped>
  .settings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .settings-container > {
    min-width: 300px;
    max-width: 600px;
  }
</style>
<style src="@/assets/scss/components/settings-scoped.scss" lang="scss" scoped />
