<template>
  <div class="form-wrapper">
    <div class="form-title">
      <span class="form-title__text">Cпецификации</span>
    </div>

    <button @click="selectAdd" :class="{'active-setting-button': isAdd}" type="button" class="action-btn action-btn--shadow action-btn--success" >Добавление</button>
    <button @click="selectUpdate" :class="{'active-setting-button': isUpdate}" type="button" class="action-btn action-btn--shadow action-btn--success" >Редактирование</button>

    <form v-if="isAdd" name="specification" class="form-wrapper__form">
      <div  @click="isPopupActive = isAddPopup = true" class="category-add-form__add">
        <label class="form-label">Выберите категорию:</label>
        <input v-model="selectedCategory.name" disabled class="form-field form-field--fullwidth choose-category" type="text" id="parent-category-select" >
      </div>
      <popup v-if="isPopupActive" class="popup" @click="closeAllPopup" @close="" @clickOutside="isPopupActive = false">
        <addCategoryPopup @selected="selected"  v-if="isAddPopup" @close="closeAllPopups" ></addCategoryPopup>
      </popup>

      <div class="spec-add-form__add">
        <div class="spec-add-form__wrapper">
          <label for="spec-add" class="form-label required">Добавьте Спецификацию</label>
          <input type="text" v-model="title" name="specificationTitle" data-vv-as='"Спецификация"' id="spec-add" class="form-field form-field--fullwidth" >
        </div>
        <button @click="addSpecification()"  type="button" class="spec-add-btn">
          <icon name="floppy-o" class="spec-add-btn__icon"></icon>
        </button>
      </div>
      <transition enter-active-class="animated bounceIn" leave-active-class="animated bounceOut">
        <span v-if="errors.has('specificationTitle')" class="form-errors">{{ errors.first('specificationTitle') }}</span>
      </transition>

      <file-upload :key="fileKey" @loaded="fileLoaded" class="specification-upload" />
    </form>

    <form v-else name="specification" class="form-wrapper__form">
      <div  @click="isPopupActive = isAddPopup = true" class="category-add-form__add">
        <label class="form-label">Выберите категорию:</label>
        <input v-model="selectedCategory.name"
               disabled class="form-field form-field--fullwidth choose-category" type="text" id="parent-category-select2" >
      </div>
      <popup v-if="isPopupActive" class="popup" @click="closeAllPopup" @close="" @clickOutside="isPopupActive = false">
        <addCategoryPopup @selected="selected"  v-if="isAddPopup" @close="closeAllPopups" ></addCategoryPopup>
      </popup>

      <div class="spec-add-form__add">
        <div class="spec-add-form__wrapper">
          <label for="spec-add" class="form-label required">Выберите спецификацию</label>

          <FormSelect v-if="selectedCategory.specs && selectedCategory.specs.length"
                      :key="specsKey"
                      :options="allSpecsTitles"
                      @selected="selectSpecification"
                      @addNew=""
                      class="form-field form-field--filter" />

          <span v-else>Нет доступных спецификаций</span>
<!--          <input type="text" v-model="selectedSpec" name="specificationTitle" data-vv-as='"Спецификация"' id="spec-add2" class="form-field form-field&#45;&#45;fullwidth" v-validate="veeValidateSpecificationTitleRules">-->
          <template v-if="selectedSpec" class="spec-add-form__wrapper">
            <label for="spec-add" class="form-label required">Название спецификации</label>
            <input type="text" v-model="title" name="specificationTitle"
                   data-vv-as='"Спецификация"'
                   id="spec-add2" class="form-field form-field--fullwidth" >
          </template>
        </div>



        <button @click="updateSpecHandler"  type="button" class="spec-add-btn">
          <icon name="floppy-o" class="spec-add-btn__icon"></icon>
        </button>
      </div>
      <transition enter-active-class="animated bounceIn" leave-active-class="animated bounceOut">
        <span v-if="errors.has('specificationTitle')" class="form-errors">{{ errors.first('specificationTitle') }}</span>
      </transition>
      <img v-if="!base64Img && selectedSpecObj && selectedSpecObj.photo" :src="'/'+selectedSpecObj.photo" alt="">
      <file-upload :key="fileKey" else @loaded="fileLoaded" class="specification-upload" />
    </form>
  </div>
</template>

<script>
import FileUpload from '../common/FileUpload'
import FormSelect from '@/components/productAdd/FormSelect'
import { mapGetters, mapActions } from 'vuex'
import addCategoryPopup from '@/components/common/AddCategoryPopup'
import popups from '@/mixins/popups'
import CategoryPicker from '@/components/common/CategoryPicker'

export default {
  mixins: [popups],
  name: 'specification-form',
  data () {
    return {
      selectedCategory: {name: ''},
      selectedSpec: null,
      selectedSpecObj: null,
      title: '',
      base64Img: '',
      isPopupActive: false,
      isAddPopup: false,
      currentCategory: {},
      isAdd: true,
      isUpdate: false,
      specsKey: 1,
      fileKey: 1
    }
  },
  computed: {
    ...mapGetters([
      'specifications',
      'categories',
      'getSpecificationTitles'
    ]),
    allSpecsTitles () {
      return this.selectedCategory.specs.map(spec => spec.title)
    },
    allCategories () {
      return this.categories
    },
    veeValidateSpecificationTitleRules () {
      return {
        required: true,
        min: 3,
        excluded: this.getSpecificationTitles
      }
    }
  },
  methods: {
    ...mapActions([
      'getSpecifications',
      'getCategories',
      'addSpec',
      'updateSpec'
    ]),
    resetForm () {
      this.selectedCategory = {name: ''}
      this.title = ''
      this.base64Img = ''
      this.fileKey++
      this.selectedSpec = null
      this.selectedSpecObj = null
    },

    addSpecification () {
      this.addSpec(JSON.parse(JSON.stringify(this.$data)))
      this.resetForm()
    },
    updateSpecHandler () {
      this.updateSpec(JSON.parse(JSON.stringify(this.$data)))
      this.resetForm()
    },
    fileLoaded (base64) {
      this.base64Img = base64
    },
    switchForm (form) {
      this.$emit('switchForm', form)
    },
    selected (category) {
      console.log('category', category)
      this.selectedCategory = category
      this.closeAllPopups()
    },
    selectSpecification (title) {
      console.log('spec selected', title)
      this.selectedSpec = title
      this.title = title
      this.selectedSpecObj = this.selectedCategory.specs.find(item => item.title === title)
    },
    closeAllPopups () {
      this.isPopupActive = this.isAddPopup = false
    },
    selectUpdate () {
      this.isUpdate = true
      this.isAdd = false
    },
    selectAdd () {
      this.isUpdate = false
      this.isAdd = true
    }
  },
  mounted () {
    this.getSpecifications()
    this.getCategories()
  },
  components: {
    FileUpload,
    FormSelect,
    addCategoryPopup,
    popups,
    CategoryPicker
  }
}
</script>

<style scoped>
</style>
