<template>
  <transition
  enter-active-class="animated bounceIn"
  leave-active-class="animated zoomOut">
  <div class="entity-info">
    <button type="button" @click="close" class="close-btn close-btn--popup">
      <icon name="times" class="close-btn__sign" />
    </button>
    <div class="tabs-title">
      <span>{{title}}</span>
    </div>
    <div class="product-tab product-tab--order">

      <router-link :to="{ name: 'orders-add', params: {orderId: orderId}}" class="entity-add-btn">
        <span class="entity-add-btn__plus">+</span>
        <span class="entity-add-btn__text">Добавить продукт</span>
      </router-link>

      <ul class="entity-infolist">
        <li  v-for="(product, index) of products" class="entity-infolist__item entity-infolist__item--tabs">
          <span class="entity-infolist__status-indicator" :style="{backgroundColor: '#'+product.status.color}"></span>
          <div class="entity-infolist__icon">
            <img :src="'/'+product.spec.photo" alt="icon" />
          </div>
          <div class="entity-infolist-spec">
            <h4 class="entity-infolist-spec__title">{{product.spec.title}}</h4>
            <div class="entity-infolist-spec__type">{{product.sn}}</div>
          </div>

          <status-history-tooltip :statuses="product.item_statuses">
             <span class="entity-infolist__status" :style="{color:  product.status.color}">{{ product.status.status}}</span>
          </status-history-tooltip>

          <button type="button" class="entity-list__delete-btn" @click="showDeleteProductPopup(product)">
            <icon name="trash-o" />
          </button>
        </li>

      </ul>
      <popup v-if="isPopupOpened" class="popup" @clickOutside="closeAllPopup">
        <DeleteProductPopup v-if="isDeletePopup" :product="currentProduct" @confirm="destroyProduct" @close="closeAllPopup" ></DeleteProductPopup>
      </popup>
    </div>
  </div>
  </transition>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import 'vue-awesome/icons/trash-o'
import 'vue-awesome/icons/times'
import AddGroupProductPopup from '@/components/groups/AddGroupProductPopup'
import popups from '../../mixins/popups'
import DeleteProductPopup from '@/components/common/DeleteProductPopup'

export default {
  mixins: [popups],
  name: 'order-info',
  props: ['orderId', 'order'],
  components: { DeleteProductPopup, popups, AddGroupProductPopup },
  data () {
    return {
      currentProduct: null
    }
  },
  computed: {
    ...mapGetters([
      'getProductsInOrder',
      'getOrderTitle'
    ]),
    title () {
      return this.order.title
    },
    products () {
      return this.order.products
      // return this.getProductsInOrder(this.orderId)
    }
  },
  methods: {
    ...mapActions([
      'deleteOrderProduct'
    ]),
    destroyProduct () {
      this.deleteOrderProduct({product: this.currentProduct, order: this.order})
      this.closeAllPopup()
    },
    showDeleteProductPopup (product) {
      this.currentProduct = product
      this.isPopupOpened = this.isDeletePopup = true
    },
    close () {
      this.$emit('close')
    },
    deleteProduct (id) {
      this.$emit('deleteProduct', id)
    }
  },
  mounted () {
    // console.log(this.$store)
  }
}
</script>

<style scoped />
