<template>
  <div id="app" class="app">
    <top-menu />
    <main class="app-main">
      <navigation-menu />
    	<div class="app-content">
        <transition>
          appear
          appear-active-class="animated bounceIn"
          enter-active-class="animated bounceInRight">
          <router-view />
        </transition>
      </div>
    </main>
  </div>
</template>

<script>
import NavigationMenu from '@/components/common/NavigationMenu'
import TopMenu from '@/components/common/TopMenu'
import { mapGetters, mapActions, mapMutations } from 'vuex'
import axios from 'axios'
export default {
  name: 'app',
  components: {
    NavigationMenu,
    TopMenu
  },
  data () {
    return {

    }
  },
  computed: {
    ...mapGetters([
      'user'
    ])
  },
  methods: {
    ...mapActions([
      'getUser'
    ]),
    ...mapMutations([
      'setUser'
    ])

  },
  async created () {
    this.routeName = this.$route.name
    let user = JSON.parse(localStorage.getItem('user'))

    if (!user || (user.expired < Date.now())) {
      console.log('no user', user)
      user = await axios.get(`/api/${this.$route.params.roomId}/users/getUser`)
      this.setUser(user)
    }
    let ids = user.user_service_rooms.map(item => item.service_room_id)
    console.log({ids, route: this.routeName, roomId: this.$route.params.roomId})
    if (!ids.includes(+this.$route.params.roomId) && this.routeName !== 'myRooms') {
      this.$router.push({name: 'myRooms'})
    }
  },
  // watch: {
  //   async '$route' (to, from) {
  //     this.routeName = to.name
  //     let user = JSON.parse(localStorage.getItem('user'))
  //
  //     if (!user || (user.expired < Date.now())) {
  //       console.log('no user', user)
  //       user = await axios.get(`/api/${this.$route.params.roomId}/users/getUser`)
  //       this.setUser(user)
  //     }
  //     let ids = user.user_service_rooms.map(item => item.service_room_id)
  //     console.log({ids})
  //     if (!ids.includes(this.$route.params.roomId) && to.name !== 'myRooms') {
  //       console.log('redirected to rooms')
  //       this.$router.push({name: 'myRooms'})
  //     }
  //     // обрабатываем изменение параметров маршрута...
  //   }
  // },
  beforeEach (to, from, next) {
    console.log('enter')
  }
}
</script>

<style src="./assets/scss/app.scss" lang="scss"></style>
<style src="../node_modules/animate.css/animate.min.css" />
