<template>
  <div class="popup-body">
    <div class="popup-header">
      <div class="input-field">
        <label  class="form-label">Выберите Продукт:</label>
      </div>
      <Products @selectedProduct="selectedProduct" :user="user"></Products>

    </div>
    <div class="popup-footer text-center">
<!--      <button @click="add" class="action-btn action-btn&#45;&#45;shadow">Добавить</button>-->
      <button type="button" @click="close" class="close-btn close-btn--popup ">
        <icon name="times" class="close-btn__sign" />
      </button>
    </div>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'
  import Products from './Products'
  export default {
    props: ['user'],
    name: 'add-group',
    data () {
      return {
      }
    },
    computed: {
      ...mapGetters([
        'getGroupTitles',
        'objCategories',
        'users',
        'groups'
      ])
    },
    methods: {
      ...mapActions([
        'addGroup',
        'getCategories',
        'getObjCategories',
        'getUsers',
        'addUserToGroup',
        'getGroups'
      ]),
      selectedProduct (product) {
        this.close()
        this.$emit('selectedProduct', product)
      },
      add () {
        if (!this.group.title || !this.group.image) return
        this.addUserToGroup({group: this.group, user: this.user})
        this.close()
      },
      loaded (data) {
        this.group.image = data
      },
      close () {
        this.$emit('close')
      }
    },
    components: {
      Products
    },
    mounted () {
      console.log('getted groups')
      this.getGroups()
      this.getUsers()
    }

  }
</script>

<style src="@/assets/scss/components/popup-scoped.scss" lang="scss" scoped></style>
