<template>
  <div class="popup-body">
    <div class="popup-header">
      <div class="input-field">
        <label  class="form-label">Выберите группу:</label>
      </div>

        <div v-if="Array.isArray(groups)" v-for="group in puredGroups" @click="selected(group)">
          <img  height="50" width="50" :src="'/'+group.photo" alt="">
          <span>{{group.title}}</span>
        </div>

    </div>
    <div class="popup-footer text-center">
<!--      <button @click="add" class="action-btn action-btn&#45;&#45;shadow">Добавить</button>-->
      <button type="button" @click="close" class="close-btn close-btn--popup ">
        <icon name="times" class="close-btn__sign" />
      </button>
    </div>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'
  export default {
    props: ['user'],
    name: 'add-group',
    data () {
      return {
      }
    },
    computed: {
      ...mapGetters([
        'getGroupTitles',
        'objCategories',
        'users',
        'groups'
      ]),
      puredGroups () {
        console.log('pured groups', this.groups)
        if (!Array.isArray(this.groups)) return []
        return this.groups.filter(group1 => {
          let flag = true
          for (let group of this.user.groups) {
            if (group.id === group1.id) {
              flag = false
            }
          }
          return flag
        })
      }
    },
    methods: {
      ...mapActions([
        'addGroup',
        'getCategories',
        'getObjCategories',
        'getUsers',
        'addUserToGroup',
        'getGroups'
      ]),
      selected (group) {
        this.close()
        this.$emit('selected', group)
      },
      add () {
        if (!this.group.title || !this.group.image) return
        this.addUserToGroup({group: this.group, user: this.user})
        this.close()
      },
      loaded (data) {
        this.group.image = data
      },
      close () {
        this.$emit('close')
      }
    },
    components: {
    },
    mounted () {
      console.log('getted groups')
      this.getGroups()
      this.getUsers()
    }
  }
</script>

<style src="@/assets/scss/components/popup-scoped.scss" lang="scss" scoped></style>
