<template>
  <transition
  enter-active-class="animated bounceIn"
  leave-active-class="animated zoomOut">
  <div v-if="user" class="entity-info">
    <button type="button" @click="close" class="close-btn close-btn--popup">
      <icon name="times" class="close-btn__sign" />
    </button>
    <div class="tabs-title">
      <span>{{user.saasUser.name}}</span>
    </div>
    <div class="tabs-list">
      <span class="tabs-list__title" @click="activate('products')" @keyup.enter.space="activate('products')" :class="{ active: activated == 'products'}" tabindex="0">Продукты</span>
      <span class="tabs-list__title" @click="activate('groups')" @keyup.enter.space="activate('groups')" :class="{ active: activated == 'groups'}" tabindex="0">Группы</span>
    </div>

    <transition enter-active-class="animated bounceIn">
    <div class="product-tab product-tab--user" v-show="activated == 'products'">
      <button  @click="customPopup = true" class="tabs-info-btn">
        <span class="entity-add-btn__plus">+</span>
        <span class="entity-add-btn__text">Добавить продукт</span>
      </button>
      <div  v-if="customPopup" class="fixed100">
        <AddUserProductPopup @selectedProduct="productToUser" :user="user" @selected="addGroup" @close="customPopup = false" >
        </AddUserProductPopup>
      </div>
      <ul class="entity-infolist entity-infolist--tabs">
        <li class="entity-infolist__item entity-infolist__item--tabs"
            v-for="product in puredProducts"
            @click="currentProduct = product">
          <span class="entity-infolist__status-indicator" :style="{backgroundColor: '#'+product.status.color}"></span>
          <div class="entity-infolist__icon">
            <img :src="'/' +product.spec.photo" alt="icon" />
          </div>
          <div class="entity-infolist-spec">
            <h4 class="entity-infolist-spec__title">{{product.spec.title}}</h4>
            <div class="entity-infolist-spec__type">{{product.sn}}</div>
          </div>
          <status-history-tooltip :statuses="[product.status]">
            <span class="entity-infolist__status" :style="{color: product.status.color}">{{product.status.status}}</span>
          </status-history-tooltip>
          <div class="entity-infolist__warranty">
            <span>
              c   {{getEntityFullDate(new Date(product.guarantee_start), 'ru', ' / ')}}
            </span>
            <span>
              по {{getEntityFullDate(new Date(product.guarantee_stop), 'ru', ' / ')}}
            </span>
          </div>
          <span class="entity-infolist__condition">
            <template v-if="product.isNew">Новый</template>
            <template v-else>Старый</template>
          </span>
          <div class="entity-infolist-price">
            <span class="entity-infolist-price__default">{{product.price}} $</span>
            <span class="entity-infolist-price__chosen" v-if="product.price">{{product.price}} {{product.currency.symbol}}</span>
          </div>
          <a href="#" class="entity-infolist__group-name" v-if="getProductGroup(product.group)">{{product.group.title}}</a>
          <a href="#" class="entity-infolist__user-name">{{user.saasUser.name}}</a>
          <a href="#" class="entity-infolist__order-name" v-if="getProductOrder(product.order)">{{product.order.title}}</a>
          <div class="entity-infolist-date">
            <span class="entity-infolist-date__short">{{getEntityShortDate(new Date(product.date), ' / ')}}</span>
            <span class="entity-infolist-date__сomplete">{{getEntityFullDate(new Date(product.date), 'ru', ' / ')}}</span>
          </div>
          <button @click="isPopupOpened = isDeletePopup = true" type="button" class="entity-list__delete-btn">
            <icon name="trash-o" />
          </button>
        </li>
      </ul>

      <popup v-if="isPopupOpened && currentProduct" class="popup" @clickOutside="closeAllPopup">
        <ConfirmPopup v-if="isDeletePopup" :product="currentProduct" @confirm="destroyProduct" @close="closeAllPopup" >
          <template v-slot:action>Удалить данный продукт?</template>
          <template v-slot:title>{{currentProduct.sn}}</template>
        </ConfirmPopup>
      </popup>


    </div>
    </transition>
    <transition enter-active-class="animated bounceIn">
    <div class="product-tab" v-show="activated == 'groups'">
      <button class="tabs-info-btn" @click="isPopupActive = isAddPopup = true">
        <span class="entity-add-btn__plus">+</span>
        <span class="entity-add-btn__text" >Добавить группу</span>
      </button>
      <popup v-if="isPopupActive" class="popup" @click="closeAllPopup" @close="" @clickOutside="isPopupActive = false">
        <AddUserGroupPopup  :user="user" @selected="addGroup"  v-if="isAddPopup" @close="closeAllPopup" >
        </AddUserGroupPopup>
      </popup>
      <ul class="entity-infolist">
        <li v-if="user.groups"
            v-for="group in puredGroups"
            @click="currentGroup = group"
            class="entity-infolist__item entity-infolist__item--tabs"
            :key="group.id">

          <div class="entity-infolist__icon">
            <img :src="'/'+group.photo" alt="icon">
          </div>
          <div class="entity-infolist-spec">
            <h4 class="entity-infolist-spec__title">{{group.title}}</h4>
            <!-- <div class="entity-infolist-spec__type">Gigabyte Technology X58-USB3</div> -->
          </div>
          <div class="entity-infolist-count">
            <div class="entity-infolist-count__icon-holder">
              <icon name="list-ul" class="entity-infolist-count__icon" />
            </div>
            <div class="entity-infolist-count__title">
              <span class="entity-infolist-count__title--amount">{{group.products.length}}</span>
              <span class="entity-infolist-count__title--desc">Продукты</span>
            </div>
          </div>
          <div class="entity-infolist-count">
            <div class="entity-infolist-count__icon-holder">
              <icon name="user" class="entity-infolist-count__icon"/>
            </div>
            <div class="entity-infolist-count__title">
              <span class="entity-infolist-count__title--amount">{{group.users.length}}</span>
              <span class="entity-infolist-count__title--desc">Пользователи</span>
            </div>
          </div>
          <button @click="isPopupOpened = isDeletePopup = true" type="button" class="entity-list__delete-btn">
            <icon name="trash-o" />
          </button>
        </li>
      </ul>
      <popup v-if="isPopupOpened && currentGroup" class="popup" @clickOutside="closeAllPopup">
        <ConfirmPopup v-if="isDeletePopup" :product="currentProduct" @confirm="destroyGroup" @close="closeAllPopup" >
          <template v-slot:action>Удалить данную группу?</template>
          <template v-slot:title>{{currentGroup.title}}</template>
        </ConfirmPopup>
      </popup>

    </div>
    </transition>
  </div>
  </transition>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
// import 'vue-awesome/icons/tifixed100mes'
import 'vue-awesome/icons/list-ul'
import 'vue-awesome/icons/plus'
import 'vue-awesome/icons/user'
import AddUserGroupPopup from './AddUserGroupPopup'
import AddUserProductPopup from './AddUserProductPopup'
import popups from '@/mixins/popups'
import ConfirmPopup from '@/components/common/ConfirmPopup'

// import popups from '@mixins/popups'

export default {
  mixins: [ popups ],
  name: 'order-info',
  components: {
    AddUserGroupPopup,
    AddUserProductPopup,
    ConfirmPopup
  },
  data () {
    return {
      activated: 'products',
      customPopup: false,
      currentProduct: null,
      currentGroup: null
    }
  },
  props: {
    id: Number,
    user: {
      type: Object,
      default: {
        products: [],
        groups: [],
        saasUser: {}
      }
    }
  },
  computed: {
    ...mapGetters([
      'getEntityFullDate',
      'getEntityShortDate',

      'getProductOrder',
      'getProductGroup'
    ]),
    puredGroups () {
      console.log('route PARAM', this.$route.params.roomId)
      return this.user.groups.filter(group => +group.room_id === +this.$route.params.roomId)
    },
    puredProducts () {
      return this.user.products.filter(product => +product.room_id === +this.$route.params.roomId)
    }
  },
  methods: {
    ...mapActions([
      // 'getEntityFullDate',
      'addUserToGroup',
      'addProductToUser',
      'deleteProductFromUser',
      'deleteUserGroup'

    ]),
    destroyGroup () {
      this.deleteUserGroup({group: this.currentGroup, user: this.user})
      this.closeAllPopup()
    },
    destroyProduct () {
      this.deleteProductFromUser({product: this.currentProduct, user: this.user})
      this.closeAllPopup()
    },
    close () {
      this.$emit('close')
      this.customPopup = false
    },
    activate (tabName) {
      this.activated = tabName
    },
    addGroup (group) {
      console.log(group)
      this.addUserToGroup({user: this.user, group})
    },
    productToUser (product) {
      console.log('product to user info', product)
      this.addProductToUser({user: this.user, product})
    }
  }
}
</script>
<style scoped>
  .fixed100 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding: 5%;
    padding-top: 10%;
  }
  .fixed100 .popup-body {
    width: 100%;
  }
</style>
<style src="@/assets/scss/components/tabs.scss" lang="scss" />
