<template>
  <div class="users">
    <!-- .entity-heading -->
    <div class="entity-heading">
      <h2 class="entity-group-title">Users / {{users.length}}</h2>
    </div>
    <!-- END:.entity-heading -->
    <div class="entity-body myRow" :class="{active: selectedUserId}">
      <ul class="entity-list">
        <user-list-item @click.native="currentUser = user"
                        :user-info="user" v-for="(user, index) of users"
                        :key="users.id"
                        @selected="select"
                        @delete="showDeleteUserPopup"
                        :class="{active: user.id == selectedUserId}"/>
      </ul>

      <user-info :user="currentUser" :id="selectedUserId" v-if="selectedUserId" @close="unselect" />
    </div>
    <popup v-if="isPopupOpened" class="popup" @clickOutside="closeAllPopup">
      <ConfirmPopup v-if="isDeletePopup" :entity="currentUser" @confirm="destroyUser" @close="closeAllPopup" >
        <template v-slot:action>Удалить данного пользователя?</template>
        <template v-slot:title>{{currentUser.saasUser.name}}</template>
      </ConfirmPopup>
      <add-user-popup v-if="isAddPopup" @close="closeAllPopup" />

    </popup>

  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import UserListItem from '@/components/users/UserListItem'
import UserInfo from '@/components/users/UserInfo'
import AddUserPopup from '@/components/users/AddUserPopup'
import popups from '@/mixins/popups'
import ConfirmPopup from '@/components/common/ConfirmPopup'

export default {
  name: 'users',
  mixins: [ popups ],
  data () {
    return {
      selectedUserId: null,
      currentUser: null
    }
  },
  computed: {
    ...mapGetters(['users'])
  },
  components: {
    UserListItem,
    UserInfo,
    AddUserPopup,
    ConfirmPopup
  },
  methods: {
    ...mapActions([
      'getUsers',
      'deleteUser'
    ]),
    showDeleteUserPopup (user) {
      this.currentUser = user
      this.isPopupOpened = this.isDeletePopup = true
    },
    select (id) {
      this.selectedUserId = id
    },
    unselect () {
      this.selectedUserId = null
    },
    openAddPopup () {
      this.isPopupOpened = true
      this.isAddPopup = true
    },
    destroyUser () {
      this.deleteUser(this.currentUser)
      this.closeAllPopup()
    }
  },
  mounted () {
    this.getUsers()
  }
}
</script>

<style scoped>
</style>
